.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:#41414d91;
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.popup.active .content{border-radius: 15px;
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}



* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#w3lDemoBar.w3l-demo-bar {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
    display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
    opacity: 1;
}

#w3lDemoBar.w3l-demo-bar .w3l-icon svg {
    color: #e6ebff;
}

#w3lDemoBar.w3l-demo-bar .responsive-icons {
    margin-top: 30px;
    border-top: 1px solid #41414d;
    padding-top: 40px;
}

#w3lDemoBar.w3l-demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}

#w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
    font-size: 26px;
}

#w3lDemoBar.w3l-demo-bar .no-margin-bottom {
    margin-bottom: 0;
}

.toggle-right-sidebar span {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

#right-sidebar {
    width: 90px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 60px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

.hide-right-bar-notifications {
    margin-right: -300px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
    #w3lDemoBar.w3l-demo-bar a.desktop-mode {
        display: none;

    }
}

@media (max-width: 767px) {
    #w3lDemoBar.w3l-demo-bar a.tablet-mode {
        display: none;

    }
}

@media (max-width: 568px) {
    #w3lDemoBar.w3l-demo-bar a.mobile-mode {
        display: none;
    }

    #w3lDemoBar.w3l-demo-bar .responsive-icons {
        margin-top: 0px;
        border-top: none;
        padding-top: 0px;
    }

    #right-sidebar,
    .pull-right {
        width: 90px;
    }

    #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
        margin-bottom: 0;
    }
}
table {
border-collapse: collapse;
width: 100%;
}

td, th {
border: none;
text-align: left;
padding: 5px;
}

tr:nth-child(even) {
background-color: #dddddd;
}



/* Product page css start */
.coupons,
.banner-bootom-w3-agileits,
.new_arrivals_agile_w3ls_info {
    padding: 4em 0;
}

.page-title-wrapper {
    text-align: center;
    margin-top: 30px;
}

.page-title {
    display: block;
    text-align: center;
    font-size: 23px;
    color: #666;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px auto;
    position: relative;
}

.page-title-wrapper .page-title span {
    display: inline-block;
    padding: 0 10px;
    background: #fff;
}

.page-title-wrapper .page-title span:after {
    width: 100%;
    content: '';
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.shop-by {
    font-weight: 600;
    font-size: 19px;
}

.category-list {
    list-style-type: none;
}

.category-list li {
    margin: 0;
    padding: 10px 0;
    border: 0;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-top: 1px solid #ccc;
}

.category-list li i {
    float: right;
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-right:before {
    content: "\f105";
}

#collapse2 {
    max-height: 200px;
    overflow-y: hidden;
    transition: all 0.3s;
}

.panel-collapse.collapse {
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.3s;
}

.slider-container {
    margin: 20px;
}

.noUi-target {
    border-radius: 2px;
}

.noUi-background {
    background: #D6D7D9;
}

.noUi-horizontal {
    height: 4px;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.slider-labels {
    margin-top: 18px;
}

.group-list li i {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
}

.group-list li {
    margin: 0;
    padding: 10px 0;
    border: 0;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-top: 1px solid #ccc;
}

.group-list li i {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
}

.product-men {
    margin: top;
    margin-top: 2em;
}

.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #d6d6d6;
    padding-bottom: 20px;
}

.men-thumb-item {
    position: relative;
}

.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    padding: 32px 30px 10px;
}

.product-men img {
    width: 100%;
}

.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 1.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
    background: #fc636b none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.product-new-top {
    background: #fc636b none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    top: 0;
    z-index: 99;
}

.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}

.item-info-product h4 a {
    font-size: 0.9em;
    color: #fc636b;
    text-decoration: none;
    font-weight: 600;
}

.info-product-price {
    margin: 10px 0;
}

.info-product-price span {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.snipcart-details {
    text-align: center;
    margin: 0.5em auto 1em;
    width: 77%;
}

.hvr-outline-out:before {
    content: '';
    position: absolute;
    border: #ff434d solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #fc636b;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}


/* cart page css */
.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:#41414d91;
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.popup.active .content{border-radius: 15px;
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
/* cart page css start */
.cart_page_title {
text-align: center;
margin-bottom: 25px;
}
.cart_page_title p {
font-size: 16px;
color: #999;
margin-top: 10px;
}
.cart_page_title p span {
color: #515151;
font-size: 12px;
}
@media only screen and (max-width: 768px){
#price{
display: none;
}
.page-title-wrapper .page-title {
font-size: 15px;
margin: 15px auto;
}
}

.cart_facility {
padding-top: 25px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
margin-bottom: 50px;
}
.cart_facility ul {
display: table;
width: 85%;
margin: 0 auto;
padding-left: 0;
/* margin-bottom: 20px; */
list-style: none;
}
.cart_facility ul li {
float: left;
width: 33.33%;
padding-right: 25px;
}
.icon_secure {
display: inline-block;
width: 56px;
height: 56px;
background: url(../images/sprit.png) no-repeat 0 0;
float: left;
margin-right: 22px;
margin-bottom: 30px;
}
.icon_happy {
display: inline-block;
width: 56px;
height: 52px;
background: url(../images/sprit.png) no-repeat 0 -56px;
float: left;
margin-right: 22px;
margin-bottom: 30px;
}
.icon_return {
display: inline-block;
width: 56px;
height: 54px;
background: url(../images/sprit.png) no-repeat 0 -108px;
float: left;
margin-right: 22px;
margin-bottom: 30px;
}
.cart_facility ul li h3 {
font-size: 13px;
color: #000;
margin-top: 0;
margin-bottom: 5px;
font-weight: 600;
letter-spacing: .5px;
}
.cart_facility ul li p {
font-size: 13px;
color: #999;
}
@media only screen and (max-width: 768px){
.cart_facility {
display: none;
}
.page-title-wrapper {
text-align: center;
margin-top: 0;
}
.mrp-cost{
float: left;
text-align: left!important;
font-size: 20px;
font-weight: 600;
}
}
@media only screen and (max-width: 768px){
.cart_page_title {
display: none;
}
}
.sc-list .sc-list-head {
border-bottom: 1px solid #DDD;
}
.a-section {
margin-bottom: 22px;
}
.a-spacing-none {
margin-bottom: 0!important;
}
.a-row {
width: 100%;
}
.a-row:after, .a-row:before {
display: table;
content: "";
line-height: 0;
font-size: 0;
}
.a-row:after, .a-row:before {
display: table;
content: "";
line-height: 0;
font-size: 0;
}
.a-row-2{
width: 100%;
margin-left: -44%;
}
.a-row-3{
width: 100%;
margin-left: -62%;
}
div.a-column, div.a-column {
margin-right: 2%;
float: left;
min-height: 1px;
overflow: visible;
}
.a-row .a-span10, .a-row .a-ws-span10 {
width: 82.948%;
}
.a-ws-span12, div.a-column.a-span-last {
margin-right: 0;
float: right;
}
div.a-column, div.a-column {
margin-right: 2%;
float: left;
min-height: 1px;
overflow: visible;
}
.a-column.a-span-last {
margin-right: 0;
float: right;
}
.a-row .a-span2, .a-row .a-ws-span2 {
width: 14.948%;
}
.a-text-right {
text-align: right!important;
}
.a-spacing-top-micro {
margin-top: 4px!important;
}
.a-color-secondary, .a-color-tertiary {
color: #111!important;
font-weight: 600;
}
.a-text-right {
text-align: right!important;
}
.cart-main-section{
padding-top: 10px;
border-bottom: 1px solid #ddd;
margin-bottom: 50px;
}
.cart-main-section .cart {          
border-top: 1px solid #ddd;
margin-bottom: 19em;
}
.cart-main-section .mt{
margin-top: 15px;
}
.product-img{
width: 160px;
height: 235px;
}
.product-name{
display: inline-block;
width: 100%;
white-space: normal;
height: auto;
font-size: 15px;
font-weight: 600;
}
.product-name-mobile{
display: none;
}
@media only screen and (max-width: 768px){
.cart-main-section .mt{
margin-top: 0;
}
.cart-main-section .cart {
padding-top: 30px;
border-bottom: 0;
border-top: 1px solid #ddd;
margin-bottom: 0;
}
.product-name{
display: none;
}
.product-name-mobile{
display: inline-block;
width: 100%;
white-space: normal;
height: auto;
font-size: 16px;
font-weight: 600;
margin-top: 20px;
}       
}
.quant{
width: 5em;
border: 1px solid #ddd;
border-radius: 5px;
padding: 3px;
outline: #ddd;
}
button.btn-update{
padding: 2px 8px;
font-size: 12px;
text-transform: uppercase;
background: #c69c6d;
border-radius: 6px;
border: none;
color: #111;
line-height: 22px;
margin-top: 0;
font-family: inherit;
}
.quant-input{
margin-top: 5px;
}
@media only screen and (max-width: 768px){
.quant-input{
margin-top: 18%;
}
}
.d-flex{
display: flex!important;
}
.ml-auto, .mx-auto {
margin-left: auto!important;
margin-top: 9px;
}
.font-weight-bold {
font-weight: 700!important;
font-size: 16px;
margin-right: 5px;
}
.d-flex h4{
font-size: 16px;
margin-left: 5px;
}
hr {
margin-top: 5px;
margin-bottom: 5px;
border: 0;
border-top: 1px solid #eee;
}
button.checkout{
background: #c69c6d;
color: #111;
border-radius: 5px;
font-family: inherit;
font-size: 16px;
border-color: #d33b33;
padding: 10px;
border: none;
transition: all 0.5s ease;
transform: scale(1);
}
button.checkout:hover{
background: #111;
color: #fff;
transform: scale(1);
}
.gray-effect{
background: lightgray;
}
.mt-mb{
margin-top: 5px;
margin-bottom: 5PX;
}
h3.summary{
margin-left: 5px;
font-family: inherit;
}
.cont-shopping{
font-size: 16px;
font-weight: 600;            
}
.cont-shopping:hover{
text-decoration: none;
}
.text-right .cont-shopping i{
font-size: 16px;
}
.payment .payment-mode{
font-size: 15px;
}

.new-row{
margin-top: 8px;
}

.total-price-mobile{
display: none;
}

.total-price{
font-weight: 600;
}

span.text-style{
font-weight: 600;
}

.remove-item-cart a .fa{
color: red;
}

@media only screen and (max-width: 768px){
.remove-item-cart{
bottom: 240px;
right: -15px;
float: right;
}
.total-price{
display: none;
}
.total-price-mobile{
display: block;
}
}


/* end cart page css */


/* checkout css */
.page-title-wrapper{
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}
.page-title{
    display: block;
    text-align: center;
    font-size: 23px;
    color: #666;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px auto;
    position: relative;
}
.page-title-wrapper .page-title span {
    display: inline-block;
    padding: 0 10px;
    background: #fff;
}
.page-title-wrapper .page-title span:after {
    width: 100%;
    content: '';
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.box{
    /* border: 1px solid #111; */
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.box .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
    border-bottom: 1px solid #CFD4D6;
    padding-bottom: 12px;            
}
button.account{
    padding: 9px 15px;
    font-size: 14px;
    /* font-weight: 600; */
    text-transform: uppercase;
    /* background: #c69c6d; */
    border-radius: 6px;
    border: none;
    color: #111;
    /* line-height: 22px; */
    /* margin-top: 2px; */
    font-family: inherit;
    transition: all 0.3s ease;
}
button.sign-in{
    background: #C86A56;
}
button.sign-up{
    background: #B96E5D;
}
button.account:hover{
    background-color: #111;
    color: #fff;
}
.mt{
    margin-top: 15px;
}
label span{
    color: red;
}
.order-box{
    max-height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 15px;
}
.order{
    /* max-height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%; */
    margin-bottom: 15px;
}
.order-img-product{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.order-product-name{
    font-size: 14px;
    font-weight: 600;
    margin-left: 25px;
    margin-right: 5px;
}
.order-product-price{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 5px;
}
.order-product-name-mobile{
    display: none;
}
.ml-mr{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #CFD4D6;
    padding-bottom: 15px;
}
button.btn-submit{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background: #c69c6d;
    border-radius: 6px;
    border: none;
    color: #111;
    margin-top: 2px;
    font-family: inherit;
    transition: all 0.3s ease;
}
button.btn-submit:hover{
    background: #111;
    color: #fff;
}
.d-flex{
    display: flex!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-top: 9px;
}
.font-weight-bold {
    font-weight: 700!important;
    font-size: 16px;
    margin-right: 5px;
}
.d-flex h4{
    font-size: 16px;
    margin-left: 5px;
}
.gray-effect{
    background: lightgray;
}

input[type="text"], input[type="password"], input.email.aitsw3ls, textarea.text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
  }
@media only screen and (max-width: 768px){
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        position: relative;
        min-height: 1px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .box {
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    }
    button.btn-submit {
        padding: 8px 35px;
        font-size: 13px;
    }
}

/* end checkout css */



/* Product page css end */